.SC-Fieldset,
.Fieldset {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: spacing('small');
  container-type: inline-size;
  container-name: fieldset;

  /**
   * Row
   */

  &_row {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--sc-spacing-tiny));
    margin-right: calc(-1 * var(--sc-spacing-tiny));

    & > .Field,
    & > .SC-Field {
      padding: 0 spacing('tiny');
    }
  }
}
