.SC-OptionCard,
.OptionCard {
  position: relative;
  border-radius: var(--sc-border-radius);
  background-color: white;
  transition:
    100ms box-shadow ease,
    100ms background-color ease,
    100ms border-radius ease;

  &:last-child {
    margin: 0;
  }

  &.is-disabled {
    pointer-events: none;
    opacity: 0.4;

    &:hover {
      background: white;
    }
  }

  &.is-active {
    margin-bottom: var(--sc-spacing-base);
    box-shadow:
      0 2px 8px hsla(0, 0%, 0%, 0.15),
      0 1px 1px hsla(0, 0%, 0%, 0.05);
  }

  @include medium-and-up {
    &:hover {
      background: shade($a: 0.05);
    }
    &.SC-OptionCard-parent.is-active:hover,
    &.OptionCard-parent.is-active:hover {
      background: none;
    }
  }

  /**
   * Elements
   */

  &_label {
    cursor: pointer;
    margin: 0;
    padding: var(--sc-spacing-medium);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: calc(#{var(--sc-border-rounded)} * 2);
  }

  &_radio {
    font-size: 0;
    flex-shrink: 0;
    margin-right: var(--sc-spacing-base);

    .SC-OptionCard.is-active &,
    .OptionCard.is-active & {
      display: none;
    }

    .SC-OptionCard_subset.is-active &,
    .OptionCard_subset.is-active & {
      display: block;
    }
  }

  &_checkbox {
    font-size: 0;
    flex-shrink: 0;
    margin-right: var(--sc-spacing-small);

    .SC-OptionCard.is-active &,
    .OptionCard.is-active & {
      display: none;
    }

    .SC-OptionCard_subset.is-active &,
    .OptionCard_subset.is-active & {
      display: block;
    }
  }

  &_detail {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    &_primary {
      margin-right: var(--sc-spacing-small);
    }

    &_secondary {
      width: 100%;
      flex-shrink: 0;
      margin-top: var(--sc-spacing-small);
      color: shade('neutral');
      @include large-and-up {
        width: auto;
        margin-top: 0;
      }
    }
  }

  &_subset {
    display: none;
    padding: 0 var(--sc-spacing-small) var(--sc-spacing-small);

    &.is-active {
      display: block;
    }
  }
}

/**
 * TODO: Replace global radio with this pattern
 */

.SC-RadioInput,
.RadioInput {
  input {
    display: none;
  }

  svg {
    width: 23px;
    height: 23px;

    @include medium-and-up {
      width: 20px;
      height: 20px;
    }
  }

  ellipse:first-child {
    fill: white;
    stroke: shade($a: 0.3);
    stroke-width: 6;
  }

  ellipse:last-child {
    fill: color('primary');
    display: none;
  }

  input:checked ~ svg ellipse:last-child {
    display: block;
  }
}
