$ProductCard: (
  'image-aspect-ratio': unset,
  'align-headlines': true,
  'align-prices': true,
  'headline': (
    'weight': #{var(--sc-font-normal)},
    'size': #{var(--sc-font-small)},
  ),
  'price': (
    'size': #{var(--sc-font-small)},
    'weight': #{var(--sc-font-bold)},
  ),
  'points': (
    'size': #{var(--sc-font-small)},
    'weight': #{var(--sc-font-bold)},
  ),
  'subscription': (
    'size': #{var(--sc-font-tiny)},
    'color': shade('dark'),
  ),
  'fulfilment': (
    'size': #{var(--sc-font-tiny)},
    'color': shade('dark'),
  ),
  'restricted': (
    'size': #{var(--sc-font-tiny)},
    'color': shade('dark'),
  ),
);

@if (map-has-key($override, 'ProductCard') == true) {
  $ProductCard: map-extend($ProductCard, map-get($override, 'ProductCard'), true);
}

@function ProductCard($keys...) {
  @return deep-map-get($ProductCard, $keys...);
}

.SC-ProductCard,
.ProductCard {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  /**
   * Image wrapper
   */

  &_image_wrapper {
    position: relative;
  }

  /**
   * Image link
   */

  &_image {
    @include overlay;
    position: relative;
    display: block;
    margin-bottom: spacing('medium');
    font-size: 0;

    @if ProductCard('image-aspect-ratio') != unset {
      @include aspect-ratio(
        ProductCard('image-aspect-ratio', 'width'),
        ProductCard('image-aspect-ratio', 'height')
      );

      img,
      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        max-width: 100%;
        max-height: 100%;
        transform: translateY(-50%) translateX(-50%);
        height: auto;
      }
    } @else {
      img,
      svg {
        width: 100%;
      }
    }
  }

  /**
   * Headline
   */

  &_headline {
    display: flex;
    font-size: ProductCard('headline', 'size');
    font-weight: ProductCard('headline', 'weight');
    margin-bottom: 7px;

    @if ProductCard('align-headlines') == false {
      align-items: flex-end;
    }

    @if ProductCard('align-prices') == true {
      flex-grow: 1;
    }

    &:hover {
      color: currentColor;
    }
  }

  /**
   * Detail
   */

  &_detail {
    @if ProductCard('align-prices') == true {
      min-height: 45px;
    }
  }

  // Earn Points

  &_points {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1em;
    text-align: right;

    &_earn {
      font-weight: ProductCard('points', 'weight');
      font-size: ProductCard('points', 'size');
      display: inline-block;

      &.is-original {
        text-decoration: line-through;
        font-weight: var(--sc-font-normal);
        color: shade('dark');
        display: inline-block;
      }

      &.is-bonus {
        color: color('bonus');
        margin-right: spacing('micro');
        display: inline-block;
      }
    }
  }

  // Price

  &_price {
    margin-bottom: spacing('small');

    &_item {
      font-weight: ProductCard('price', 'weight');
      font-size: ProductCard('price', 'size');
      display: inline-block;

      &.is-original {
        text-decoration: line-through;
        font-weight: var(--sc-font-normal);
        color: shade('dark');
        display: inline-block;
      }

      &.is-sale {
        color: color('sale');
        margin-right: spacing('micro');
        display: inline-block;
      }
    }
  }

  // Points

  &_points {
    margin-bottom: spacing('small');

    // Purchase Points

    &_price {
      font-weight: ProductCard('points', 'weight');
      font-size: ProductCard('points', 'size');
      display: inline-block;

      &.is-original {
        text-decoration: line-through;
        font-weight: var(--sc-font-normal);
        color: shade('dark');
        display: inline-block;
      }

      &.is-sale {
        color: color('sale');
        margin-right: spacing('micro');
        display: inline-block;
      }
    }
  }

  // Subscription details

  &_subscription {
    line-height: 1;
    font-size: ProductCard('subscription', 'size');
    color: ProductCard('subscription', 'color');
  }

  // Fulfilment

  &_fulfilment {
    line-height: 1;
    font-size: ProductCard('fulfilment', 'size');
    color: ProductCard('fulfilment', 'color');
  }

  // Restricted

  &_restricted {
    line-height: 1;
    font-size: ProductCard('restricted', 'size');
    color: ProductCard('restricted', 'color');
  }

  /**
   * Actions
   */

  &_actions {
    margin-top: spacing('small');
    min-height: 40px; // Height of button
  }

  /**
    * Tags
    */

  &_tags {
    display: flex;
    position: absolute;
    gap: var(--sc-spacing-tiny);
    top: var(--sc-spacing-small);
    left: var(--sc-spacing-small);
  }

  &_tag {
    background-color: var(--sc-color-primary);
    color: white;
    border-radius: var(--sc-border-radius);
    padding: var(--sc-spacing-tiny) var(--sc-spacing-small);
  }
}
