<div class="sc-container sc-container-capsule sc-container-spacious">
  <div class="sc-expand">
    {%- render "shared/page_header", heading: "t.auth.invitations.pending.heading", sub_heading: "t.auth.invitations.pending.check_your_email" %}

    {{ "auth.invitations.pending.verify_your_email" | t }}
  </div>
</div>
