.SC-LineItem {
  --sc-product-info-max-width: 400px;

  [data-booking-expired-message] {
    display: none;
  }

  &.expired {
    opacity: 0.5;

    [data-booking-expired-message] {
      display: initial;
    }

    [data-qty-picker] {
      display: none;
    }
  }
}
