$Logo: (
  'max-width': 150px,
  'max-height': 60px
) !default;

@if (map-has-key($override, 'Logo') == true) {
  $Logo: map-extend($Logo, map-get($override, 'Logo'), true);
}

@function Logo($keys...) { @return deep-map-get($Logo, $keys...); }


.SC-Logo, .Logo {
  display: inline-block;
  flex-shrink: 0;
  font-size: 0;
  padding: spacing('medium') 0;


  /**
   * Image
   */

  &_image {
    max-width: Logo('max-width');
    max-height: 50px;
    width: auto;
    height: auto;
    @include medium-and-up {
      max-width: Logo('max-width');
      max-height: Logo('max-height');
    }
  }
}
