<div data-sc-cart-page class="SC-Cart">
  <div class="sc-container sc-container-skinny sc-container-spacious">
    {%- render "shared/page_header", heading: "t.cart.header" %}

    <div data-cart-page-cart>
      {%- render "cart/cart" %}
    </div>
  </div>
</div>
