{%- assign show_compare = theme_variables["products.comparisons"] == true %}
<div class="sc-container sc-me">
  {% render "breadcrumbs" %}
  <h1>{{ "products.index.all_products" | t  }}</h1>

  <div class="SC-Grid">
    {%# search/filters/sort_dropdown below uses JavaScript that requires following DOM: form.data-filters input[name=sort] %}
    <form url="{{ current_search.path }}" method="get" class="is-hidden" local="true" data-filters scope>
      <input name="{{ current_search.fields.sort.name }}" type="hidden" value="{{ current_search.fields.sort.value }}"/>
    </form>

    <div class="SC-Grid_main" data-product-grid>
      <menu class="SC-Menu sc-justify-end sc-mb-small">
        {%- render "search/filters/sort_dropdown" %}
      </menu>

      <div class="sc-mb">
        {%- render "products/wrapper" %}
      </div>
    </div>
  </div>
</div>
