<article class="sc-container sc-container-spacious">
  <div class="SC-Grid">
    <div class="SC-Grid_sidebar">
      {% render "account/menu" %}
    </div>

    <div class="SC-Grid_main">
      {{ yield }}
    </div>
  </div>
</article>
