<template id="sc-product-card">
  <style>
    .ProductCard {
      display: flex;
      flex-direction: column;
      padding: 20px;
      background-color: white;
      border-radius: var(--sc-border-radius);
    }
  </style>

  <a class="ProductCard">
    Product Card
  </a>
</template>
