{%- default question: nil %}
{%- default answer: nil %}

<section class="SC-Field SC-Field-expand">
  <label class="SC-Field_label">
    <input class="SC-Field_input sc-one-whole" name="answer" value="{{ answer.answer }}" {% if question.required? %} required{% endif %} />
  </label>
</section>
