{%- default contextual: true -%}
{%- default active: false -%}

<div class="Loader{% if active %} is-active{% endif %}{% if contextual %} is-contextual{% endif %}" data-loader>
  <svg class="spinner" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
    <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
  </svg>
</div>
