{%- default field_name: blank %}
{%- default field: blank %}

<section class="SC-Field SC-Field-expand{% if field.errors != blank %} has-error{% endif %}">
  <label class="SC-Field_label">
    {{ question.question_content }}
    <input type="number" class="SC-Field_input sc-one-whole" name="{{ field_name }}" value="{{ field.value }}" step="any" {% if field.required? %} required{% endif %} />
  </label>
</section>
