.sc-rotate-45 {
  transform: rotate(45deg);
}

.sc-rotate-90 {
  transform: rotate(90deg);
}

.sc-rotate-135 {
  transform: rotate(135deg);
}

.sc-rotate-180 {
  transform: rotate(180deg);
}

.sc-rotate-225 {
  transform: rotate(225deg);
}
