<div data-flash-container>
  {%- if current_flash.notice != blank %}
    <div class="sc-container sc-mt">
      <div class="SC-Notice" data-notice>
        {{ current_flash.notice }}
      </div>
    </div>
  {%- endif %}

  {%- if current_flash.alert != blank %}
    <div class="sc-container sc-mt">
      <div class="SC-Notice SC-Notice-alert" data-alert>
        {{ current_flash.alert }}
      </div>
    </div>
  {%- endif %}
</div>
