<form action="{{ current_store.search_path }}" accept-charset="UTF-8" method="get">
  <div id="SC-GlobalSearch" class="SC-Field SC-Field-special SC-Field-icon sc-m-none sc-mw-100">
    <input type="search" name="q" id="q" data-search-input class="SC-Field_input sc-one-whole" autocomplete="off" placeholder="{{ "header.search.placeholder" | t }}">
    {%- render "shared/icons/search" %}
  </div>
</form>
