.sc-theme-preview-bar {
  background-color: rgb(0, 196, 244);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  color: white;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
  text-align: right;
  font-size: small;
  padding: 0.5em;
}
