{%- default only_sso_provider: null %}

<div class="sc-container sc-container-capsule sc-container-spacious">
  <div class="sc-expand">
    <h1>{{ "auth.login.heading" | t }}</h1>

    {% assign block = current_store.id | append: "-login-introduction" %}
    {{ all_content_blocks[block] | try: "render" }}

    {% render "account/login/form", focus: true, only_sso_provider: only_sso_provider %}
  </div>
</div>
