{% default custom_forms: nil %}
{% default style_class: nil %}

{% for custom_form in custom_forms %}
  {% for answer in custom_form.answers %}
    {%- unless answer.question.hidden? %}
      {%- require "scripts/custom-form-answers.js" -%}

      <div{% unless style_class == nil %} class="{{ style_class }}"{% endunless %}>
        {{ answer.question_content }}

        <div data-custom-form-answer>
          {%- render "custom_forms/answers/show", answer: answer %}
        </div>
      </div>
    {%- endunless %}
  {% endfor %}
{% endfor %}
