{%- default source: current_cart -%}
{%- default compact: false -%}
{%- default extended: false -%}
{%- default width: nil -%}
{%- default hide_image: false -%}
{%- default toggle_answers: false -%}

<div class="sc-flex-col sc-gap-small sc-mb-base" id="SC-CartItems" data-line-items>
  <div>
    {%- render 'shared/cart/timer', source: source %}
  </div>
  {%- for item in source.items %}
    {%- if item.in_bundle? and item.bundle_lead? == false %}
      {%- continue %}
    {%- endif %}
    {%- unless item.reserved_product? %}
      {%- comment %} Pass in `line_item` for backwards compatibility {% endcomment %}
      {%- render "shared/cart_items/item", line_item: item, cart_item: item, compact: compact, extended: extended, width: width, hide_image: hide_image, toggle_answers: toggle_answers %}
    {%- endunless %}
  {%- endfor %}
</div>
