{%- default compact: false -%}
{%- default extended: false -%}
{%- default hide_image: false -%}

{%- assign items = current_cart.items | where: "product", current_product -%}

{%- if items.size > 0 %}
  <div class="SC-Notice Notice_cart-preview sc-mb" data-in-your-cart>
    <h4>{{ "products.in_your_cart.header" | t }}</h4>
    {%- if current_product.bookable? %}
      {%- render 'shared/cart/timer', source: current_cart %}
    {%- endif %}
    <div class="sc-mb-base" data-line-items>
      {%- for item in items %}
        {%- if item.in_bundle? and item.bundle_lead? == false %}
          {%- continue %}
        {%- endif %}
        {%- render "shared/line_items/item", line_item: item, compact: compact, extended: extended, hide_image: hide_image %}
      {%- endfor %}
    </div>
  </div>
{%- endif %}
