<template id="sc-product-card">
  <style>
    .ProductCard {
      display: flex;
      flex-direction: column;
      padding: 20px;
      background: #ddd;
    }
  </style>
  <a class="ProductCard">Card
  </a>
</template>
