<section class="SC-Screen is-hidden" data-js-screen>
  <header class="SC-Screen_header">
    <h3 class="SC-Screen_header_heading">
      {{ "shared.products.product_comparison" | t }}
    </h3>
    <button
      data-js-screen-close
      class="SC-Link"
      type="button">
      {{ "shared.screen.close" | t }}
    </button>
  </header>
  <div class="SC-Screen_body" data-js-screen-body></div>
</section>
