{%- render "shared/page_header", heading: "t.accounts.billing.heading" %}

<div class="SC-Grid">
  <div class="SC-Grid_main">
    {%- form "account" %}
      {% render "form_errors", errors: form.errors %}

      <section class="sc-mb-spacious">
        {% render "shared/account/address_form", form: form, type: "billing" %}
      </section>

      <input type="submit" name="commit" value="{{ "accounts.billing.update" | t }}" class="SC-Button SC-Button-primary SC-Button-expanded-up-to-small" data-disable-with="{{ "accounts.billing.update" | t }}">
    {%- endform %}
  </div>
</div>
