<!doctype html>
<html lang="{{ current_store.locale }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link rel="stylesheet" href="/src/theme.css" />
    {% if current_store.global_css != blank %}
      <style>{{ current_store.global_css }}</style>
    {% endif %}
    {% if current_store.global_javascript != blank %}
      <script>{{ current_store.global_javascript }}</script>
    {% endif %}
  </head>

  <body>
    <sc-top-bar></sc-top-bar>
    <main>
      {{ body_content }}
    </main>
    <sc-footer></sc-footer>
  </body>
</html>
