<!doctype html>
<html lang="{{ current_store.locale }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/theme.scss" />
    {% render "components/templates.liquid",
      products: products,
      current_store: current_store,
    %}
  </head>

  <body>
    <sc-top-bar></sc-top-bar>
    <main>
      {% block content %}
        Default
      {% endblock %}
    </main>
    <sc-footer></sc-footer>
    <script type="module" src="/src/scripts/theme.js"></script>
    <script type="module" src="/src/scripts/products.js"></script>
  </body>
</html>
