<section class="SC-Panel sc-mb-large">
  <header class="SC-Panel_header SC-Panel_header-border">
    <h2 class="SC-Panel_header_heading">{{ "accounts.fulfillments.show.order.heading" | t }}</h2>
  </header>
  <p>Order: <a href="{{fulfillment.order.path}}">{{fulfillment.order.reference}}</a></p>
</section>
